.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.headerpokedex {
  background-color: #282c34;
  min-height: 0vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: blue;
}

.headercontainer {
  margin: auto;
  width: fill;
  height: 100px;
  display: flex;
  justify-content: space space-between;
  align-items: stretch;
  font-size: calc(10px + 2vmin);
  background-color: red;
}

.pokelogo {
  height: 100px;
  width: 130px;
  margin: left;
  margin-left: 5%;
  display: flex;
  align-items: left;
}

/* Styles pour la liste des Pokémon */
ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

/* Styles pour chaque carte Pokémon */
.pokemon-card {
  width: 16%; /* Pour que 5 cartes tiennent sur une ligne (100% / 5 = 20%) */
  height: 340px;
  margin-left: 25px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Styles pour le contenu de chaque carte */
.pokemon-details {
  margin-top: 50px;
}

.pokemon-image {
  margin-top: 30px;
}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.pokeball {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.researchinput {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50%;
  height: 30px;
  border-radius: 5px;
  padding-right: 50px;
}


.researchDiv {
  display: flex;
  justify-content: right;
  align-items: center;
}